<footer><center><br><br><br>
  <li><%= link_to 'Student Home', "/student/student_home" %></li>
  <li><%= link_to "Sign out", destroy_user_session_path, data: { confirm: "Are you sure?" }, :method => :delete %></li>
</center>
</footer>
