<!DOCTYPE html>
<div class="admin">
   <center><h1> Azusa Pacific University </h1></center>
</div>
<br>
</br>

<html lang="en">
<head>
   <div style="background:white !important" class="jumbotron">
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
   <h2 class="text-center"> Students</h2>
  <p class="text-center">Here is a list of your students: </p>
  <table class="table table-hover">

    <tbody>
      <b>
        <tr>
       <td><b>First Name</b></td>
       <td><b>Last Name</b></td>
       <td><b>Email</b></td>
       <td><b>Match Identification</b></td>
     </tr>
     </b> 
      <tr>
        <td>Zakin</td>
        <td>Akin</td>
        <td>Bakinneggz@apu.edu</td>
        <td>123</td>
      </tr>
      <tr>
        <td>Sarah</td>
        <td>Marley</td>
        <td>smarley13@apu.edu</td>
        <td>123</td>
      </tr>
      <tr>
        <td>bilbo</td>
        <td>yoda</td>
        <td>jboudreau12@apu.edu</td>
        <td>123</td>
      </tr>
      <tr>
        <td>Sneaky</td>
        <td>steve</td>
        <td>sneakysteve@apu.edu</td>
        <td>123</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
  <div style="background:white !important" class="jumbotron">
  <title>University Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
    <div class="container">
        <h2 class="text-center">On-Campus Housing Options:</h2>
     </div> 
        <div class="container">
            <div class="col-md-24">
             <!--   <p class="text">On-Campus Housing Options: </p>-->
    <div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="http://www.apu.edu/housing/areas/adams/">
        <img src="http://static.apu.edu/static/src/sites/housing/images/adams_room.gif" alt="Lights" style="width:100%">
        <div class="caption">
          <p> Adams Hall</p>
        </div>
      </a>
    </div>
    <p>Adams Hall is a three-story residence hall for freshmen women. Each wing features a study room, card-operated laundry facilities, and community-style bathrooms. There is a large lounge on the first floor and smaller lounges on the second and third floors. APU provides built-in desks, chairs, twin beds (APU Bed Specifications (PDF)), and mini blinds, as well as built-in closets and a built-in dresser. All residents must purchase a dining plan in accordance with university requirements.</p>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="http://www.apu.edu/housing/areas/engstrom/">
        <img src="http://static.apu.edu/static/src/sites/housing/images/engstrom_suite.gif" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Engstrom Hall</p>
        </div>
      </a>
     </div>
     <p>Engstrom Hall is a four-story, co-ed residence hall for freshmen. Rooms in Engstrom Hall are arranged in small suites with two rooms sharing a bathroom. Rooms include desks, twin beds (APU Bed Specifications (PDF)), mini blinds, and walk-in closets with shelves. Four to five students share the suite. Each floor offers a lounge, oven, vending machines, and card-operated laundry facilities. Also included are two elevators. Residents are required to purchase a dining plan in accordance with university requirements.</p>
  </div>
   <div class="col-md-3">
    <div class="thumbnail">
      <a href="http://www.apu.edu/housing/areas/trinity/">
        <img src="http://static.apu.edu/static/src/sites/housing/images/trinity_room.gif" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Trinity Hall</p>
        </div>
      </a>
    </div>
     <p>Trinity Hall is a five-floor co-ed freshman residence hall. Each wing features a meeting room, community-style bathrooms, a small coffee area, and a prayer room. There is a large lounge on the first floor, and outdoor decks on both the fourth and fifth floors. A card-operated laundry facility and community kitchen is located on the fourth floor. Trinity Hall has two elevators for access to all floors. Each room includes closets, a built-in dresser, twin beds (APU Bed Specifications (PDF)), desks, and chairs. Residents are required to purchase a dining plan in accordance with university requirements.</p>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="http://www.apu.edu/housing/areas/smith/">
        <img src="http://static.apu.edu/static/src/sites/housing/images/smith_room.gif" alt="Fjords" style="width:100%">
        <div class="caption">
          <p>Smith Hall</p>
        </div>
      </a>
    </div>
    <p>Smith Hall is a two-story residence hall for freshmen men. Rooms in Smith include built-in desks, twin beds (APU Bed Specifications (PDF)), mini blinds, storage cupboards, a built-in dresser, and closets. Community-style bathrooms are located on each wing, and card-operated laundry facilities are provided. Smith Hall has a large lounge on the first floor and a small lounge on the second floor. All residents must purchase a dining plan in accordance with university requirements.</p>
  </div>
</div>
</div>
</div>
</div>
</body>
</html>