<div class="admin">
   <center><h1> Admin Home </h1></center>
   <center class="admin-link">
      <a href="/admin/match" class="form-signin"> 
         Match our Students
      </a>
   </center>
   <center class="admin-link">
      <a href="/admin/students" class="form-signin"> 
         Manage Questionnaire
      </a>
   </center>
   <center class="admin-link">
      <a href="/admin/profile" class="form-signin"> 
         University Profile
      </a>
   </center>
   <center class="admin-link">
      <a href="/admin/students" class="form-signin"> 
         Student Information
      </a>
   </center>
</div>