<div class="admin">
   <center><h1> Admin Home </h1></center>
   <center class="admin-link">
      <div class="w3-container w3-section w3-border w3-round-xlarge">
         <a href="#" class="form-signin"> 
            Match our Students
         </a>
      </div>
   </center>
   <center class="admin-link">
      <div class="w3-container w3-section w3-border w3-round-xlarge">
         <a href="#" class="form-signin"> 
            Manage Questionnaire
         </a>
      </div>
   </center>
   <center class="admin-link">
      <div class="w3-container w3-section w3-border w3-round-xlarge">
         <a href="#" class="form-signin"> 
            University Profile
         </a>
      </div>
   </center>
   <center class="admin-link">
      <div class="w3-container w3-section w3-border w3-round-xlarge">
         <a href="#" class="form-signin"> 
            Student Information
         </a>
      </div>
   </center>
</div>