<center><div class="jumbotron">
<div class="w3-container w3-section w3-border w3-round-xlarge">
<h1> You need to fill out your questionnaire! </h1>
<h2><%= link_to 'Click Here', "/answer/index" %></h2>
</center>
<div class="jumbotron">
<h3> Users in database: </h3>
<% @users.each do |user| %>
  <p><%= user.email %> </p>
<% end %>
<li><%= link_to "Sign out", destroy_user_session_path, data: { confirm: "Are you sure?" }, :method => :delete %></li>
</div>
</div>
