<center>
  <div class="jumbotron" >
  <h1>Student Questionnaire</h1>
<p>Please fill out each question with a number 1-5</p>
<left>
  
<%= form_tag create_new_path, :html_options => {:method => :post} do |f| %>
    <%= text_field_tag (:my_input) %>
    <%= submit_tag "Send Input" %>
<% end %>




</left>
</div></center>