<h1>Questionnaires#index</h1>
<ul>
<% @questionnaires.each do |questionnaire| %>
<li>
  <%= questionnaire.response %>
  <%= questionnaire.email %>
  <%= questionnaire.questionID %>
 
</li>
<% end %>
</ul>